.item {
  .card {
    margin-bottom: 30px;
    .pic {
      height: 0px;
      padding-bottom: 66.66%;
      position: relative;
    }
    .cover-image {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}
