<h1>
  購物車
  <%= link_to "清空購物車", cart_path, method: 'delete', class: 'btn btn-sm btn-success' unless current_cart.empty? %>
</h1>

<%= render 'cart' %>

<%= link_to "繼續選購", root_path, class: 'btn btn-primary' %>
<%= link_to "結帳", checkout_cart_path, class: 'btn btn-danger' unless current_cart.empty? %>
