<h1>餐點列表</h1>

<%= link_to "新增", new_item_path %>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.name, item_path(item.id) %>
      <%= link_to "編輯", edit_item_path(item.id) %>
      <%= link_to "刪除", item_path(item.id), method: 'delete', data: {confirm: "是否確認刪除?"} %>
    </li>
  <% end %>
</ul>

